<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maid4You</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">

  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Maid4You</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
              
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
        <img src="cleaningPG.jpeg" class="img-fluid" alt="Responsive image">
    </div>

    <hr class="featurette-divider">

    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <img src="megha.jpeg" alt="responsive webite" class="img-fluid">
        </div>
          <div class="col-xl-8 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h2>Name: Tina</h2>
            <p>Specialization: Cleaning</p>
              <p>work experience: 4 years</p>
            <p>Area: Gurugram,Haryana</p>
            <button type="button" class="btn btn-outline-success" onclick="window.location.href='payment.html'">Proceed To Pay</button>

              
          </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" style="border:1px solid #ddd">
                <img src="megha.jpeg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <h2>Name: Anny</h2>
              <p>Specialization: Laundry</p>
              <p>work experience: 2 years</p>
              <p>Area: Punjabi Bagh,New Delhi</p>
              <button type="button" class="btn btn-outline-success" onclick="window.location.href='payment.html'">Proceed To Pay</button>

            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" style="border:1px solid #ddd">
                <img src="megha.jpeg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <h2>Name: Laxmi</h2>
              <p>Specialization: Cooking</p>
              <p>work experience: 10 months</p>
              <p>Area: Karol Bagh,New Delhi</p>
              <button type="button" class="btn btn-outline-success" onclick="window.location.href='payment.html'">Proceed To Pay</button>

            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <img src="megha.jpeg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <h2>Name: Lia</h2>
              <p>Specialization: cleaning</p>
              <p>work experience: 3 years</p>
              <p>Area: Pune,Maharashtra</p>
              <button type="button" class="btn btn-outline-success" onclick="window.location.href='payment.html'">Proceed To Pay</button>

            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <img src="megha.jpeg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <h2>Name: Veena</h2>
              <p>Specialization: Laundry</p>
              <p>work experience: 1.5 years</p>
              <p>Area: Rajouri Garden,New Delhi</p>
              <button type="button" class="btn btn-outline-success" onclick="window.location.href='payment.html'">Proceed To Pay</button>

            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <img src="megha.jpeg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <h2>Name: Seema</h2>
              <p>Specialization: bathroom Cleaning</p>
              <p>work experience: 2.5 years</p>
              <p>Area: Paschim Vihar,New Delhi</p>
              <button type="button" class="btn btn-outline-success" onclick="window.location.href='payment.html'">Proceed To Pay</button>

            </div>
          </div>

          <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">© 2017–2023 Company Name</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
          </footer>